PHOTOPRISM_ADMIN_USER=
PHOTOPRISM_ADMIN_PASSWORD=
PHOTOPRISM_AUTH_MODE=password
PHOTOPRISM_SITE_URL=https://photoprism.sites.kana.li
PHOTOPRISM_ORIGINALS_LIMIT=5000
PHOTOPRISM_HTTP_COMPRESSION=gzip
PHOTOPRISM_LOG_LEVEL=info
PHOTOPRISM_READONLY=false
PHOTOPRISM_EXPERIMENTAL=false
PHOTOPRISM_DISABLE_CHOWN=false
PHOTOPRISM_DISABLE_WEBDAV=false
PHOTOPRISM_DISABLE_SETTINGS=false
PHOTOPRISM_DISABLE_TENSORFLOW=false
PHOTOPRISM_DISABLE_FACES=false
PHOTOPRISM_DISABLE_CLASSIFICATION=false
PHOTOPRISM_DISABLE_RAW=false
PHOTOPRISM_RAW_PRESETS=false
PHOTOPRISM_JPEG_QUALITY=85
PHOTOPRISM_DETECT_NSFW=false
PHOTOPRISM_UPLOAD_NSFW=true
PHOTOPRISM_DATABASE_DRIVER=mysql
PHOTOPRISM_DATABASE_SERVER=mariadb:3306
PHOTOPRISM_DATABASE_NAME=
PHOTOPRISM_DATABASE_USER=
PHOTOPRISM_DATABASE_PASSWORD=
PHOTOPRISM_SITE_CAPTION="The Wiegman's Photos"
PHOTOPRISM_SITE_DESCRIPTION="The Wiegman's Photos"
PHOTOPRISM_SITE_AUTHOR="Chris Wiegman"
